<h1 class="mb-4 text-center"><%= @team.name %> (<%= @team.abbreviation %>)</h1>

<div class="container">
  <!-- Bootstrap Tabs -->
  <ul class="nav nav-tabs" id="teamTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="roster-tab" data-bs-toggle="tab" data-bs-target="#roster" type="button" role="tab" aria-controls="roster" aria-selected="true">Roster</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="player-stats-tab" data-bs-toggle="tab" data-bs-target="#player-stats" type="button" role="tab" aria-controls="player-stats" aria-selected="false">Player Stats</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="upcoming-schedule-tab" data-bs-toggle="tab" data-bs-target="#upcoming-schedule" type="button" role="tab" aria-controls="upcoming-schedule" aria-selected="false">Upcoming Schedule</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="past-games-tab" data-bs-toggle="tab" data-bs-target="#past-games" type="button" role="tab" aria-controls="past-games" aria-selected="false">Past Games</button>
    </li>
  </ul>

  <div class="tab-content" id="teamTabsContent">
    <!-- Roster Tab -->
    <div class="tab-pane fade show active" id="roster" role="tabpanel" aria-labelledby="roster-tab">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Roster</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Uniform Number</th>
                <th>Player Name</th>
                <th>Position</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Birth Date</th>
                <th>Country</th>
                <th>College</th>
              </tr>
            </thead>
            <tbody>
              <% @players.each do |player| %>
                <tr>
                  <td><%= player.uniform_number %></td>
                  <td><%= link_to player.name, team_player_path(@team, player) %></td>
                  <td><%= player.position %></td>
                  <td><%= player.height %></td>
                  <td><%= player.weight %> lbs</td>
                  <td><%= player.birth_date.strftime("%B %d, %Y") if player.birth_date %></td>
                  <td>
                    <% if player.country_of_birth.present? %>
                      <% lower_country, upper_country = player.country_of_birth.split %>
                      <img src="https://cdn.ssref.net/req/1701182769569-20231028/flags/<%= lower_country %>.svg" alt="<%= upper_country %>" width="20" height="15">
                      <%= upper_country %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td><%= player.college.presence || "N/A" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Player Stats Tab -->
    <div class="tab-pane fade" id="player-stats" role="tabpanel" aria-labelledby="player-stats-tab">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Player Stats</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Player</th>
                <th>Position</th>
                <th>Points Per Game</th>
                <th>Total Rebounds Per Game</th>
                <th>Assists Per Game</th>
                <th>College</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @players.each do |player| %>
                <tr>
                  <td><%= link_to player.name, team_player_path(@team, player) %></td>
                  <td><%= player.position %></td>
                  <td><%= player.player_stat ? player.player_stat.points_per_game : "N/A" %></td>
                  <td><%= player.player_stat ? player.player_stat.total_rebounds_per_game : "N/A" %></td>
                  <td><%= player.player_stat ? player.player_stat.assists_per_game : "N/A" %></td>
                  <td><%= player.college.presence || "N/A" %></td>
                  <td>
                    <%= button_to "Update Stats", update_stats_team_player_path(@team, player), method: :post, class: "btn btn-sm btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Upcoming Schedule Tab -->
    <div class="tab-pane fade" id="upcoming-schedule" role="tabpanel" aria-labelledby="upcoming-schedule-tab">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Next 5 Games</h3>
        </div>
        <div class="card-body">
          <% if @next_five_games.any? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Visitor Team</th>
                  <th>Home Team</th>
                  <th>Location</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <% @next_five_games.each do |game| %>
                  <tr>
                    <td><%= game.date.strftime("%b %d, %Y") %></td>
                    <td><%= game.visitor_team.name %></td>
                    <td><%= game.home_team.name %></td>
                    <td><%= game.location %></td>
                    <td><%= game.time.strftime("%I:%M %p") if game.time.present? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No upcoming games available for this team.</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Past Games Tab -->
    <div class="tab-pane fade" id="past-games" role="tabpanel" aria-labelledby="past-games-tab">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Last 5 Games</h3>
        </div>
        <div class="card-body">
          <% if @last_five_games.any? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Visitor Team</th>
                  <th>Visitor Points</th>
                  <th>Home Team</th>
                  <th>Home Points</th>
                  <th>Location</th>
                  <th>Box Score</th>
                </tr>
              </thead>
              <tbody>
                <% @last_five_games.each do |game| %>
                  <tr>
                    <td><%= game.date.strftime("%b %d, %Y") %></td>
                    <td><%= game.visitor_team.name %></td>
                    <td><%= game.visitor_points.presence || "-" %></td>
                    <td><%= game.home_team.name %></td>
                    <td><%= game.home_points.presence || "-" %></td>
                    <td><%= game.location %></td>
                    <td>
                      <% box_score_url = "https://www.basketball-reference.com/boxscores/#{game.date.strftime("%Y%m%d")}0#{game.home_team.abbreviation}.html" %>
                      <a href="<%= box_score_url %>" target="_blank">View Box Score</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No recent games available for this team.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    var triggerTabList = [].slice.call(document.querySelectorAll('#teamTabs button'))
    triggerTabList.forEach(function(triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)
      triggerEl.addEventListener('click', function(event) {
        event.preventDefault()
        tabTrigger.show()
      })
    })
  });
</script>
