<h1 class="text-center mb-2">NBA Standings</h1>
  <div class="text-center mb-2">
        <%= button_to "Update", update_standings_path,
                  method: :post,
                  class: "btn btn-primary",
                  data: { turbo_confirm: "Are you sure you want to update the standings?" } %>
  </div>

<!-- Season Dropdown -->
<div class="d-flex justify-content-center mb-4">
  <%= form_with url: standings_path, method: :get, local: false,
                data: { turbo_frame: "standings_frame" },
                class: "d-flex align-items-center gap-2" do %>
    <label for="season_id" class="me-2"><strong>Season:</strong></label>
    <%= select_tag :season_id,
          options_from_collection_for_select(@seasons, :id, :name, @selected_season&.id),
          class: "form-select w-auto",
          onchange: "this.form.requestSubmit()" %>
  <% end %>
</div>

<turbo-frame id="standings_frame">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center mb-3">Eastern Conference</h3>
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Team</th>
              <th>W</th>
              <th>L</th>
              <th>Win%</th>
              <th>GB</th>
              <th>PTS</th>
              <th>OPP PTS</th>
              <th>SRS</th>
            </tr>
          </thead>
          <tbody>
            <% @eastern_standings.each do |standing| %>
              <tr>
                <td>
                  <%= link_to team_path(standing.team),
                              data: { turbo_frame: "_top" },
                              class: "text-decoration-none text-dark d-flex align-items-center" do %>
                    <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= standing.team.abbreviation %>-<%= @selected_season.end_year %>.png"
                        alt="<%= standing.team.name %> logo"
                        width="25" height="auto" class="me-2">
                    <%= standing.team.name %>
                  <% end %>
                </td>
                <td><%= standing.wins %></td>
                <td><%= standing.losses %></td>
                <td><%= number_with_precision(standing.win_percentage * 100, precision: 1) %>%</td>
                <td><%= standing.games_behind %></td>
                <td><%= standing.points_per_game %></td>
                <td><%= standing.opponent_points_per_game %></td>
                <td><%= standing.srs %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3 class="text-center mb-3">Western Conference</h3>
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Team</th>
              <th>W</th>
              <th>L</th>
              <th>Win%</th>
              <th>GB</th>
              <th>PTS</th>
              <th>OPP PTS</th>
              <th>SRS</th>
            </tr>
          </thead>
          <tbody>
            <% @western_standings.each do |standing| %>
              <tr>
                <td>
                  <%= link_to team_path(standing.team),
                              data: { turbo_frame: "_top" },
                              class: "text-decoration-none text-dark d-flex align-items-center" do %>
                    <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= standing.team.abbreviation %>-<%= @selected_season.end_year %>.png"
                        alt="<%= standing.team.name %> logo"
                        width="25" height="auto" class="me-2">
                    <%= standing.team.name %>
                  <% end %>
                </td>
                <td><%= standing.wins %></td>
                <td><%= standing.losses %></td>
                <td><%= number_with_precision(standing.win_percentage * 100, precision: 1) %>%</td>
                <td><%= standing.games_behind %></td>
                <td><%= standing.points_per_game %></td>
                <td><%= standing.opponent_points_per_game %></td>
                <td><%= standing.srs %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</turbo-frame>

<%= render "standings/league_advanced_stats" %>
