<h1 class="mb-4 text-center">
  <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= @game.visitor_team.abbreviation %>-2025.png" alt="<%= @game.visitor_team.name %> logo" width="50" height="auto" class="me-2">
  <%= @game.visitor_team.name %>
   vs. 
  <%= @game.home_team.name %> 
  <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= @game.home_team.abbreviation %>-2025.png" alt="<%= @game.home_team.name %> logo" width="50" height="auto" class="me-2"> 
  </h1>

<div class="container">

<!-- BOX SCORE SECTION -->

  <% if @game.date < Date.today %>
    <!-- Visitor Team Box Score Card -->
    <div class="card mb-4">
      <div class="card-header">
        <h3><%= @game.visitor_team.name %> Box Score</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover" id="visitor-box-score-table">
          <thead>
            <tr>
              <th>Player</th>
              <th>MP</th>
              <th>FG</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3P</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FT</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>ORB</th>
              <th>DRB</th>
              <th>TRB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TO</th>
              <th>PF</th>
              <th>PTS</th>
              <th>GmSc</th>
              <th>+/-</th>
            </tr>
          </thead>
          <tbody>
            <% @game.box_scores.where(team: @game.visitor_team).each do |box_score| %>
              <tr>
                <td><%= link_to box_score.player.name, team_player_path(@game.visitor_team, box_score.player) %> (<%= box_score.player.position %>)</td>
                <td><%= box_score.minutes_played %></td>
                <td><%= box_score.field_goals %></td>
                <td><%= box_score.field_goals_attempted %></td>
                <td><%= number_to_percentage(box_score.field_goal_percentage * 100, precision: 1) %></td>
                <td><%= box_score.three_point_field_goals %></td>
                <td><%= box_score.three_point_field_goals_attempted %></td>
                <td><%= number_to_percentage(box_score.three_point_percentage * 100, precision: 1) %></td>
                <td><%= box_score.free_throws %></td>
                <td><%= box_score.free_throws_attempted %></td>
                <td><%= number_to_percentage(box_score.free_throw_percentage * 100, precision: 1) %></td>
                <td><%= box_score.offensive_rebounds %></td>
                <td><%= box_score.defensive_rebounds %></td>
                <td><%= box_score.total_rebounds %></td>
                <td><%= box_score.assists %></td>
                <td><%= box_score.steals %></td>
                <td><%= box_score.blocks %></td>
                <td><%= box_score.turnovers %></td>
                <td><%= box_score.personal_fouls %></td>
                <td><%= box_score.points %></td>
                <td><%= box_score.game_score %></td>
                <td><%= box_score.plus_minus %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Home Team Box Score Card -->
    <div class="card mb-4">
      <div class="card-header">
        <h3><%= @game.home_team.name %> Box Score</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="home-box-score-table">
          <thead>
            <tr>
              <th>Player</th>
              <th>MP</th>
              <th>FG</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3P</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FT</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>ORB</th>
              <th>DRB</th>
              <th>TRB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TO</th>
              <th>PF</th>
              <th>PTS</th>
              <th>GmSc</th>
              <th>+/-</th>
            </tr>
          </thead>
          <tbody>
            <% @game.box_scores.where(team: @game.home_team).each do |box_score| %>
              <tr>
                <td><%= link_to box_score.player.name, team_player_path(@game.home_team, box_score.player) %> (<%= box_score.player.position %>)</td>
                <td><%= box_score.minutes_played %></td>
                <td><%= box_score.field_goals %></td>
                <td><%= box_score.field_goals_attempted %></td>
                <td><%= number_to_percentage(box_score.field_goal_percentage * 100, precision: 1) %></td>
                <td><%= box_score.three_point_field_goals %></td>
                <td><%= box_score.three_point_field_goals_attempted %></td>
                <td><%= number_to_percentage(box_score.three_point_percentage * 100, precision: 1) %></td>
                <td><%= box_score.free_throws %></td>
                <td><%= box_score.free_throws_attempted %></td>
                 <td><%= number_to_percentage(box_score.free_throw_percentage * 100, precision: 1) %></td>
                <td><%= box_score.offensive_rebounds %></td>
                <td><%= box_score.defensive_rebounds %></td>
                <td><%= box_score.total_rebounds %></td>
                <td><%= box_score.assists %></td>
                <td><%= box_score.steals %></td>
                <td><%= box_score.blocks %></td>
                <td><%= box_score.turnovers %></td>
                <td><%= box_score.personal_fouls %></td>
                <td><%= box_score.points %></td>
                <td><%= box_score.game_score %></td>
                <td><%= box_score.plus_minus %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


<% else %>
  <!-- GAME PREVIEW SECTION -->
  
  <div class="container">
    <div class="row">
      <!-- Visitor Team Card -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h3><%= @game.visitor_team.name %> (Away)</h3>
          </div>
          <div class="card-body">
            <p><strong>Points:</strong> <%= @game.visitor_points %></p>
            <p><strong>Time:</strong> <%= @game.time.strftime("%I:%M %p") %></p>

            <!-- Last 5 Games Averages Table for Visitor Team -->
            <h4>Last 5 Games Averages</h4>
            <table class="table table-hover" id="visitor-last5-table">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>MP</th>
                  <th>P</th>
                  <th>R</th>
                  <th>A</th>
                  <!-- Additional stats columns -->
                </tr>
              </thead>
              <tbody>
                <% @visitor_team_players.each do |player| %>
                  <tr>
                    <td>
                      <%= link_to team_player_path(@game.visitor_team, player) do %>
                        <img src="<%= player.profile_picture_url %>" width="20" height="auto" class="me-2 rounded-circle">
                        <%= player.name %>
                      <% end %>
                    </td>
                    <td><%= player.last_five_average[:minutes_played] %></td>
                    <td><%= player.last_five_average[:points].round(1) %></td>
                    <td><%= player.last_five_average[:rebounds].round(1) %></td>
                    <td><%= player.last_five_average[:assists].round(1) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Home Team Card -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h3><%= @game.home_team.name %> (Home)</h3>
          </div>
          <div class="card-body">
            <p><strong>Points:</strong> <%= @game.home_points %></p>
            <p><strong>Time:</strong> <%= @game.time.strftime("%I:%M %p") %></p>

            <!-- Last 5 Games Averages Table for Home Team -->
            <h4>Last 5 Games Averages</h4>
            <table class="table table-hover" id="home-last5-table">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>MP</th>
                  <th>P</th>
                  <th>R</th>
                  <th>A</th>
                  <!-- Additional stats columns -->
                </tr>
              </thead>
              <tbody>
                <% @home_team_players.each do |player| %>
                  <tr>
                    <td>
                      <%= link_to team_player_path(@game.home_team, player) do %>
                        <img src="<%= player.profile_picture_url %>" width="20" height="auto" class="me-2 rounded-circle">
                        <%= player.name %>
                      <% end %>
                    </td>
                    <td><%= player.last_five_average[:minutes_played] %></td>
                    <td><%= player.last_five_average[:points].round(1) %></td>
                    <td><%= player.last_five_average[:rebounds].round(1) %></td>
                    <td><%= player.last_five_average[:assists].round(1) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



</div>

<script>
  // JavaScript to handle tab switching with Turbo
document.addEventListener("turbo:load", () => {
  // Ensure that tabs work with Turbo by adding event listeners for tab clicks
  const tabLinks = document.querySelectorAll('[data-toggle="tab"]');
  
  tabLinks.forEach(tab => {
    tab.addEventListener("click", (event) => {
      event.preventDefault();
      
      const target = document.querySelector(tab.getAttribute("href"));
      
      // Remove active class from all tab links and content
      tabLinks.forEach(t => t.classList.remove("active"));
      document.querySelectorAll(".tab-pane").forEach(content => content.classList.remove("show", "active"));
      
      // Activate the clicked tab and the corresponding content
      tab.classList.add("active");
      target.classList.add("show", "active");
    });
  });

    $('#visitor-stats-table').DataTable({
      "order": [[1, "desc"]],
      "pageLength": -1,
      "lengthChange": false,
      "searching": false,
      "paging": false       
    });

    $('#visitor-last5-table').DataTable({
      "order": [[1, "desc"]],
      "pageLength": -1,
      "lengthChange": false,
      "searching": false,
      "paging": false    
    });

    $('#home-stats-table').DataTable({
      "order": [[1, "desc"]],
      "pageLength": -1,
      "lengthChange": false,
      "searching": false,
      "paging": false    
    });

    $('#home-last5-table').DataTable({
      "order": [[1, "desc"]],
      "pageLength": -1,
      "lengthChange": false,
      "searching": false,
      "paging": false    
    });

});
</script>
