<!DOCTYPE html>
<html>
<head>
  <title>NbaBettingHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag 'search', 'data-turbo-track': 'reload' %>

  <%= favicon_link_tag 'basketball.ico' %>

</head>

<body>
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NBA Betting Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Standings", standings_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teamsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teams
          </a>
          <div class="dropdown-menu p-3" aria-labelledby="teamsDropdown" style="width: 500px;">
            <div class="row">
              <!-- Eastern Conference Teams -->
              <div class="col">
                <h6 class="dropdown-header">Eastern Conference</h6>
                <% Team.joins(:standings).where(standings: { conference: 'Eastern', season: 2025 }).order(:name).each do |team| %>
                  <%= link_to team_path(team), class: "dropdown-item d-flex align-items-center", style: "font-size: 10px;" do %>
                    <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= team.abbreviation %>-2025.png" alt="<%= team.name %> logo" width="20" height="20" class="me-2">
                    <%= team.name %>
                  <% end %>
                <% end %>
              </div>
              <!-- Western Conference Teams -->
              <div class="col">
                <h6 class="dropdown-header">Western Conference</h6>
                <% Team.joins(:standings).where(standings: { conference: 'Western', season: 2025 }).order(:name).each do |team| %>
                  <%= link_to team_path(team), class: "dropdown-item d-flex align-items-center", style: "font-size: 10px;" do %>
                    <img src="https://cdn.ssref.net/req/202410231/tlogo/bbr/<%= team.abbreviation %>-2025.png" alt="<%= team.name %> logo" width="20" height="20" class="me-2">
                    <%= team.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Live Search Bar -->
      <form class="d-flex position-relative">
        <input class="form-control me-2" type="search" id="playerSearchInput" placeholder="Search for players" aria-label="Search">
        <div id="liveSearchResults" class="list-group position-absolute" style="top: 100%; width: 100%; z-index: 1000; display: none;"></div>
      </form>
    </div>
  </div>
</nav>



  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <%= yield %>

  <!-- Include Bootstrap JS (from CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Turbo Load Script for Dropdown Hover -->
  <script>
    document.addEventListener("turbo:load", function() {
      const dropdown = document.querySelector(".navbar .dropdown");
      
      // Trigger dropdown on hover
      dropdown.addEventListener("mouseenter", function() {
        const dropdownMenu = new bootstrap.Dropdown(dropdown.querySelector(".dropdown-toggle"));
        dropdownMenu.show();
      });

      dropdown.addEventListener("mouseleave", function() {
        const dropdownMenu = new bootstrap.Dropdown(dropdown.querySelector(".dropdown-toggle"));
        dropdownMenu.hide();
      });

      // Also keep support for click, in case hover isn't preferred
      document.querySelectorAll('.dropdown-toggle').forEach(item => {
        item.addEventListener('click', function(event) {
          const dropdown = new bootstrap.Dropdown(this);
          dropdown.toggle();
        });
      });
    });
  </script>
</body>
</html>
